# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/key.properties
*.jks
*.keystore

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart
